<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>H-TalentSearch::<%= title %>></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <% include ../partials/header_css %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
 <% include ../partials/header %>
  <!-- Left side column. contains the logo and sidebar -->
  <% include ../partials/sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper"><form method="POST">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
      Cập nhật Cấp bậc
        <small><i class="fa fa-arrow-circle-left"></i>
          <a href="/positions">Quay lại danh sách</a></small>

        
        <button type="submit" name="save" class="btn bg-blue pull-right">
            <i class="fa fa-floppy-o"></i>
        Lưu lại
            </button>
        <button class="btn bg-red pull-right delete" style="margin-right: 2px;"
        data-id="<%= model._id %>">
            <i class="fa fa-trash"></i>
        Xoá
        </button>
            
      </h1>
     
     
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->
        <% include add_content %>

    </section>
    <!-- /.content --></form>
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <% include ../partials/footer %>

  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<% include ../partials/footer_js %>
<!-- AdminLTE App -->
<script src="/admin248/dist/js/adminlte.min.js"></script>


<script>
    $(function () {
      $('.delete').on('click', function(e){
            e.preventDefault();
            if (confirm('Are you sure?')) {
                $target = $(e.target);
                const id = $target.attr('data-id');
                $.ajax({
                    type: 'GET',
                    url: '/positions/delete/' + id,
                    success: function(res) {
                        alert('Delete success');
                        window.location.href = '/positions'
                    },
                    error: function(err) {
                        console.log(err);
                    }
                })
            } 
      });
    })
  </script>

</body>
</html>