
<!-- jQuery 3 -->
<script src="/admin248/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/admin248/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


