<footer class="main-footer no-print">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        
        <%= locals.user_roles %>
    </div>
    <!-- Default to the left -->
    <strong>&copy; 2018 </strong><a href="#">HTalentSearch</a>. Powered by <a href="#">VISG Solution</a>.
  </footer>