<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="https://placeimg.com/160/160/any" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%= locals.loggedIn.name %></p>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <!-- search form (Optional) -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
        </div>
      </form>
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">HEADER</li>
        <!-- Optionally, you can add icons to the links -->
        <li class=""><a href="/home"><i class="fa fa-link"></i> <span>Dashboard</span></a></li>
        <% if (locals.isSuperAdmin || locals.isAdmin) { %>
        <li class="treeview" id="mnu_directory">
          <a href="#">
              <i class="fa fa-folder"></i>
              <span>Directory</span>
              <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu" id="mnu_directory_content">
              <li id="mnu_occu"><a href="/occupations"><i class="fa fa-angle-double-right"></i> Occupation</a></li>
              <li id="mnu_city"><a href="/cities"><i class="fa fa-angle-double-right"></i> City</a></li>
              <li id="mnu_qual"><a href="/qualifications"><i class="fa fa-angle-double-right"></i> Qualification</a></li>
              <li id="mnu_expr"><a href="/experiences"><i class="fa fa-angle-double-right"></i> Experience</a></li>
              <li id="mnu_posi"><a href="/positions"><i class="fa fa-angle-double-right"></i> Position/Level</a></li>
              <li id="mnu_jobt"><a href="/jobtypes"><i class="fa fa-angle-double-right"></i> Job type</a></li>
              <li id="mnu_lang"><a href="/languages"><i class="fa fa-angle-double-right"></i> Language</a></li>
              
          </ul>
      </li>
      <% } %>
      <li class="treeview" id="mnu_candidate">
          <a href="#">
              <i class="fa fa-users"></i>
              <span>Candidates</span>
              <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu" id="mnu_candidate_content">
              <li id="mnu_candidate_list"><a href="/candidates"><i class="fa fa-angle-double-right"></i> Candidate</a></li>
              <li id="mnu_candidate_add"><a href="/candidates/add"><i class="fa fa-angle-double-right"></i> Create candidate</a></li>
              <!-- <li id="mnu_candidate_cv"><a style="color: yellow" href="#" onclick="alert('Update later! Access the folder where CVs stored')">
                <i class="fa fa-angle-double-right"></i> QL lưu trữ *</a></li> -->
          </ul>
      </li>

      <!-- <li class="treeview" id="mnu_customer">
          <a href="#">
              <i class="fa fa-globe"></i>
              <span>QL Khách hàng</span>
              <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu" id="mnu_customer_content">
              <li id="mnu_cust_list"><a href="/customers"><i class="fa fa-angle-double-right"></i> DS khách hàng</a></li>
              <li id="mnu_cust_add"><a href="/customers/add"><i class="fa fa-angle-double-right"></i> Thêm mới</a></li>
              <li id="mnu_cust_recr"><a href="/recruitments"><i class="fa fa-angle-double-right"></i> Tuyển dụng</a></li>
              <li id="mnu_cust_contr"><a href="/contracts"><i class="fa fa-angle-double-right"></i> Hợp đồng</a></li>
          </ul>
      </li>
 -->
 <% if (locals.isManager) { %>
      <li class="treeview" id="mnu_empl">
          <a href="#">
              <i class="fa fa-building-o"></i>
              <span>Company staff</span>
              <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu" id="mnu_empl_content">
              <li id="mnu_empl_list"><a href="/employees"><i class="fa fa-angle-double-right"></i> Employee</a></li>
              <!-- <li id="mnu_empl_add"><a href="/employees/add"><i class="fa fa-angle-double-right"></i> Create employee</a></li>
              <li id="mnu_task"><a href="/tasks"><i class="fa fa-angle-double-right"></i> Task Management</a></li> -->
              <!-- <li id="mnu_empl_msg"><a style="color: yellow" href="#" onclick="alert('Cập nhật phiên bản mới!')"><i class="fa fa-angle-double-right"></i> Tin nhắn *</a></li> -->
          </ul>
      </li>
      <% } %>
        <!-- 
      <li class="treeview" id="mnu_report">
          <a href="#">
              <i class="fa fa-list-ol"></i>
              <span>Báo cáo thống kê</span>
              <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu" id="mnu_report_content">
              
              <li id="mnu_rp_candidate"><a href="#"><i class="fa fa-angle-double-right"></i> Báo cáo ứng viên</a></li>
              <li id="mnu_rp_recruiment"><a href="#"><i class="fa fa-angle-double-right"></i> Tình hình hồ sơ</a></li>
              <li id="mnu_rp_contract"><a href="#"><i class="fa fa-angle-double-right"></i> Tình hình thanh toán</a></li>
              <li id="mnu_rp_template"><a style="color: yellow" href="#" onclick="alert('Cập nhật phiên bản mới!')"><i class="fa fa-angle-double-right"></i> Mẫu báo cáo *</a></li>
          </ul>
      </li> -->
      <% if (locals.isSuperAdmin || locals.isAdmin ) { %>
        <li class="treeview">
            <a href="#"><i class="fa fa-link"></i> <span>System</span>
              <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
               
              <li><a href="/users">Accounts</a></li>
              
              <% if (locals.isSuperAdmin) { %>
                <li><a href="/permissions">Roles/Permission</a></li>
            <% } %>
             
            </ul>
          </li>
          <% } %>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>