
<!-- general form elements -->
<div class="box box-primary">
    
    
    <div class="box-body">
           
        <div class="row">
            <div class="col-md-6">
                <div class="form-group <%= (typeof errors != 'undefined' && errors['name'])?'has-error':'' %>">
                    <label for="">Employee name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter name"
                        value="<%= model.name %>">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Occupations to work</label>
                    <select class="form-control select2" multiple="multiple" style="width: 100%;" name="occupations">
                        <% lstOccupations.forEach(item => { 
                        %>
                            <option value="<%= item._id %>"><%= item.name %></option>
                            
                        <% }) %>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group <%= (typeof errors != 'undefined' && errors['position'])?'has-error':'' %>">
                    <label for="">Position</label>
                    <input type="text" class="form-control" name="position" placeholder="Enter position"
                        value="<%= model.position %>">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Account</label>
                    <select class="form-control select2" style="width: 100%;" name="account">
                            <option value="">Select</option>
                        <% lstUsers.forEach(item => { 
                        %>
                            <option value="<%= item._id %>"><%= item.name %></option>
                            
                        <% }) %>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group <%= (typeof errors != 'undefined' && errors['urgent_contact'])?'has-error':'' %>">
                    <label for="">urgent_contact</label>
                    <input type="text" class="form-control" name="urgent_contact" placeholder="Enter urgent_contact"
                        value="<%= model.urgent_contact %>">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group <%= (typeof errors != 'undefined' && errors['urgent_contact_phone'])?'has-error':'' %>">
                    <label for="">urgent_contact_phone</label>
                    <input type="text" class="form-control" name="urgent_contact_phone" placeholder="Enter urgent_contact_phone"
                        value="<%= model.urgent_contact_phone %>">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="">urgent_contact_relationship</label>
                <select class="form-control select2" style="width: 100%;" name="urgent_contact_relationship">
                    <option value="">Select</option>
                    <option>Husband/Wife</option>
                    <option>Father/Mother</option>
                    <option>Brother/Sister</option>
                    <option>Son/Daughter</option>
                    <option>Friends</option>
                </select>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <% if (model._id) { %>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">ID</label>
                    <input type="text" class="form-control" 
                        value="<%= model._id %>" disabled>
                </div>
            </div>
           
        </div>
        
        <% } %>
        
        
    </div><!-- /.box-body -->

    
</div><!-- /.box -->
