
<!-- general form elements -->
<div class="box box-primary">
    
    
    <div class="box-body">
           
        <div class="row">
            <div class="col-md-6">
                <div class="form-group <%= (typeof errors != 'undefined' && errors['name'])?'has-error':'' %>">
                    <label for="">Employee name</label>
                    <input type="text" class="form-control" name="name"
                        value="<%= model.name %>" readonly="readonly">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Occupations to work</label>
                    <select class="form-control select2" multiple="multiple" style="width: 100%;" name="occupations">
                        <% dataOccupations.forEach(item => { 
                        %>
                            <option value="<%= item._id %>"><%= item.name %></option>
                            
                        <% }) %>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group <%= (typeof errors != 'undefined' && errors['position'])?'has-error':'' %>">
                    <label for="">Position <code>*</code></label>
                    <input type="text" class="form-control" name="position" placeholder="Enter position"
                        value="<%= employee.position %>">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                        <label for="">Marital status</label>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="marital" value="S" <%= employee.marital==='S'?'checked':'' %>>
                                        Single
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="marital" value="M" <%= employee.marital==='M'?'checked':'' %>>
                                        Married
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="marital" value="D" <%= employee.marital==='D'?'checked':'' %>>
                                        Divorced
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group <%= (typeof errors != 'undefined' && errors['dob'])?'has-error':'' %>">
                    <label for="">Date of birth <code>*</code></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" name="dob"
                                name="dob" 
                                value="<%= employee.dob %>">
                    </div>
                    <p class="help-block">DOB is required.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Gender</label>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="gender" value="true" <%= model.gender?'checked':'' %>>
                                    Male
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="gender" value="false" <%= model.gender?'':'checked' %>>
                                    Female
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-6">
                <div class="form-group <%= (typeof errors != 'undefined' && errors['phone_personal'])?'has-error':'' %>">
                    <label for="">Personal phone <code>*</code></label>
                    <input type="text" class="form-control" name="phone_personal"
                        value="<%= employee.phone_personal %>">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Company phone</label>
                    <input type="text" class="form-control" name="phone_company"
                        value="<%= employee.phone_company %>">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group <%= (typeof errors != 'undefined' && errors['address'])?'has-error':'' %>">
                    <label for="">Address <code>*</code></label>
                    <input type="text" class="form-control" name="address"
                        value="<%= employee.address %>">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Notes</label>
                    <textarea rows="5" class="form-control" name="notes"
                        ><%= employee.notes %></textarea>
                    <p class="help-block">Maximum is 2000 characters.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Account ID</label>
                    <input type="text" class="form-control" 
                        value="<%= model._id %>" readonly="readonly">
                </div>
            </div>
            <div class="col-md-6">
                <% if (employee._id) { %>
                <div class="form-group">
                    <label for="">Employee ID</label>
                    <input type="text" class="form-control" 
                        value="<%= employee._id %>" readonly="readonly">
                </div>
                <% } %>
            </div>
            
        </div>
        
    </div><!-- /.box-body -->

    
</div><!-- /.box -->
