<div class="row">
    <div class="col-xs-12">

        <div class="box">
                <!-- <div class="box-header">
                    <h3 class="box-title">Data Table With Full Features</h3>
                </div> -->
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="listdata" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Employee Info.</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% list.forEach(item => { %>
                        <tr>
                            <td><%= item.name %></td>
                            <td><%= item.email %></td>
                            <td><%= item.role_names %></td>
                            <td><%= item.employee? item.employee.position:'Not yet update' %></td>
                            <td>
                                <div style="display:inline-block">
                                    <a href="/employees/edit/<%= item._id %>" class="btn btn-sm btn-primary">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </div>
                                <% if (item.employee) { %>
                                    <div style="display:inline-block">
                                        <a href="/employees/delete/<%= item._id %>/<%= item.employee._id %>" class="btn btn-sm btn-danger" onclick="return confirm('Are your sure delete this item?');">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>

                                <% } %>
                                
                            </td>
                        </tr>
                    <% }) %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Roles</th>
                            <th>Employee Info.</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
        </div>
        <!-- /.box -->


    </div>
</div>