<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>H-TalentSearch | <%= title %></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <% include ./partials/header_css %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
 <% include ./partials/header %>
  <!-- Left side column. contains the logo and sidebar -->
  <% include ./partials/sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Profile page
      </h1>
     
     
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

            <div class="row">
                <div class="col-md-12">
                        <% include ./partials/alert_info %>
                        <% include ./partials/alert_error %>
                </div>
            </div>
            
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <form action="/profile/change_password" method="POST">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Change password</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="form-group <%= (typeof errors != 'undefined' && errors['pass_current'])?'has-error':'' %>">
                                <label for="">Current password <code>*</code></label>
                                <input type="password" class="form-control" name="pass_current"
                                    value="<%= model.pass_current %>">
                            </div>

                            <div class="form-group <%= (typeof errors != 'undefined' && errors['pass_new'])?'has-error':'' %>">
                                <label for="">New password <code>*</code></label>
                                <input type="password" class="form-control" name="pass_new"
                                    value="<%= model.pass_new %>">
                            </div>

                            <div class="form-group <%= (typeof errors != 'undefined' && errors['pass_confirm'])?'has-error':'' %>">
                                <label for="">Confim password <code>*</code></label>
                                <input type="password" class="form-control" name="pass_confirm"
                                    value="<%= model.pass_confirm %>">
                            </div>
                    
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="col-md-6">
                        <div class="box box-success">
                                <div class="box-header with-border">
                                  <h3 class="box-title">Task history</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                  <table class="table table-bordered">
                                    <tbody><tr>
                                      <th style="width: 10px">#</th>
                                      <th>Task</th>
                                      <th>Progress</th>
                                      <th style="width: 40px">Label</th>
                                    </tr>
                                    <tr>
                                      <td>1.</td>
                                      <td>Update software</td>
                                      <td>
                                        <div class="progress progress-xs">
                                          <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                        </div>
                                      </td>
                                      <td><span class="badge bg-red">55%</span></td>
                                    </tr>
                                    <tr>
                                      <td>2.</td>
                                      <td>Clean database</td>
                                      <td>
                                        <div class="progress progress-xs">
                                          <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
                                        </div>
                                      </td>
                                      <td><span class="badge bg-yellow">70%</span></td>
                                    </tr>
                                    <tr>
                                      <td>3.</td>
                                      <td>Cron job running</td>
                                      <td>
                                        <div class="progress progress-xs progress-striped active">
                                          <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
                                        </div>
                                      </td>
                                      <td><span class="badge bg-light-blue">30%</span></td>
                                    </tr>
                                    <tr>
                                      <td>4.</td>
                                      <td>Fix and squish bugs</td>
                                      <td>
                                        <div class="progress progress-xs progress-striped active">
                                          <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                                        </div>
                                      </td>
                                      <td><span class="badge bg-green">90%</span></td>
                                    </tr>
                                  </tbody></table>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer clearfix">
                                  <ul class="pagination pagination-sm no-margin pull-right">
                                    <li><a href="#">«</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">»</a></li>
                                  </ul>
                                </div>
                              </div>
                </div>
            </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <% include ./partials/footer %>

  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->



<% include ./partials/footer_js %>
<!-- Select2 -->
<script src="/admin248/bower_components/select2/dist/js/select2.full.min.js"></script>
<!-- AdminLTE App -->
<script src="/admin248/dist/js/adminlte.min.js"></script>


<script>
    $(function () {
      
    })
  </script>

</body>
</html>