
<!-- general form elements -->
<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Account information</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    
    <div class="box-body">
            <% include ../partials/alert_info %>
            <% include ../partials/alert_error %>
        <div class="row">
            <div class="col-md-6">
                    <div class="form-group <%= (typeof errors != 'undefined' && errors['name'])?'has-error':'' %>">
                            <label for="">Name</label>
                            <input type="text" class="form-control" name="name" placeholder="Enter name"
                                value="<%= model.name %>">
                        </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                <label>Roles</label>
                <select class="form-control select2" multiple="multiple" style="width: 100%;" name="roles">
                    <% roles.forEach(item => { 
                        if (model.roles && model.roles.indexOf(item._id.toString())>-1){
                        %>
                        <option value="<%= item._id %>" selected><%= item.role_name %></option> <% } else { %>
                        <option value="<%= item._id %>"><%= item.role_name %></option>
                        <% }}) %>
                </select>
                </div>
                <!-- /.form-group -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group <%= (typeof errors != 'undefined' && errors['email'])?'has-error':'' %>">
                    <label for="">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter email"
                        value="<%= model.email %>" <%= model._id? 'disabled': ''%> >
                        <% if (model._id) { %> <span class="help-block">Cannot edit email</span><% } %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group <%= (typeof errors != 'undefined' && errors['password'])?'has-error':'' %>">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="password"
                        value="<%= model.password %>">
                        <% if (model._id) { %> 
                            <span class="help-block">Let empty if you want unchange password</span>
                        <% } else { %>
                            <span class="help-block">Default is 11111111</span>
                        <% } %>
                </div>
            </div>
        </div>
        <% if (model._id) { %>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">ID</label>
                    <input type="text" class="form-control" 
                        value="<%= model._id %>" disabled>
                </div>
            </div>
           
        </div>
        
        <% } %>
        
        
    </div><!-- /.box-body -->

    
</div><!-- /.box -->
    