<div class="row">
    <div class="col-xs-12">

        <div class="box">
                <!-- <div class="box-header">
                    <h3 class="box-title">Data Table With Full Features</h3>
                </div> -->
                <!-- /.box-header -->
                <div class="box-body">
                    
                    <table id="listdata" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Created</th>
                        <th>Active</th>
                        <th>Roles</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% list.forEach(item => { %>
                        <tr>
                            <td><%= item.name %></td>
                            <td><%= item.email %></td>
                            <td><%= item.createdAt.toISOString() %></td>
                            <td>
                                <%
                                    if (item.active) {
                                        %>
                                        <a class="btn bg-yellow" href="/users/deactive/<%= item._id %>">
                                            Deactive
                                        </a>
                                        <%
                                    } else {
                                        %>
                                        <a class="btn bg-green" href="/users/active/<%= item._id %>">
                                            Active
                                        </a>
                                        <%
                                    }
                                %>

                               

                                
                            
                            </td>
                            <td>...</td>
                            <td>
                                <div style="display:inline-block">
                                    <a href="/users/edit/<%= item._id %>" class="btn btn-sm btn-primary">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </div>
                                <div style="display:inline-block">
                                    <a href="/users/delete/<%= item._id %>" class="btn btn-sm btn-danger" onclick="return confirm('Are your sure delete this item?');">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Created</th>
                        <th>Active</th>
                        <th>Roles</th>
                        <th>Actions</th>
                    </tr>
                    </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
        </div>
        <!-- /.box -->


    </div>
</div>