
<!-- general form elements -->
<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Thông tin Ngoại ngữ</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    
    <div class="box-body">
            <% include ../partials/alert_info %>
            <% include ../partials/alert_error %>
        <div class="row">
            <div class="col-md-6">
                    <div class="form-group <%= (typeof errors != 'undefined' && errors['name'])?'has-error':'' %>">
                            <label for="">Ngoại ngữ</label>
                            <input type="text" class="form-control" name="name" placeholder="Enter name"
                                value="<%= model.name %>">
                        </div>
            </div>
            <div class="col-md-6">
                    <div class="form-group <%= (typeof errors != 'undefined' && errors['ordinal'])?'has-error':'' %>">
                            <label for="">Thứ tự</label>
                            <input type="number" class="form-control" name="ordinal" placeholder="Enter ordinal"
                                value="<%= model.ordinal %>">
                        </div>
            </div>
        </div>
        <% if (model._id) { %>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">ID</label>
                    <input type="text" class="form-control" 
                        value="<%= model._id %>" disabled>
                </div>
            </div>
           
        </div>
        
        <% } %>
        
        
    </div><!-- /.box-body -->

    
</div><!-- /.box -->
