<div class="row">
    <div class="col-xs-12">

        <div class="box">
                <!-- <div class="box-header">
                    <h3 class="box-title">Data Table With Full Features</h3>
                </div> -->
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="listdata" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Ngoại ngữ</th>
                        <th>Thứ tự</th>
                        <th>Tạo ngày</th>
                        <th>Chức năng</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% list.forEach(item => { %>
                        <tr>
                            <td><%= item.name %></td>
                            <td><%= item.ordinal %></td>
                            <td><%= item.createdAt.toISOString() %></td>
                            <td>
                                <div style="display:inline-block">
                                    <a href="/languages/edit/<%= item._id %>" class="btn btn-sm btn-primary">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </div>
                                <div style="display:inline-block">
                                    <a href="/languages/delete/<%= item._id %>" class="btn btn-sm btn-danger" onclick="return confirm('Are your sure delete this item?');">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Ngoại ngữ</th>
                        <th>Thứ tự</th>
                        <th>Tạo ngày</th>
                        <th>Chức năng</th>
                    </tr>
                    </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
        </div>
        <!-- /.box -->


    </div>
</div>