<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>H-TalentSearch | <%= title %></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <% include ../partials/header_css %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
 <% include ../partials/header %>
  <!-- Left side column. contains the logo and sidebar -->
  <% include ../partials/sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Kinh nghiệm
        <small>Kinh nghiệm ứng viên</small>

        <a class="btn bg-blue pull-right" href="/experiences/add">
          <i class="fa fa-plus-square"></i>
          Thêm mới
        </a>
        <% if (locals.hasRoles(['admin', 'super_admin'])) { %>
          <a href="/experiences/emptyCache" class="btn bg-maroon pull-right" style="margin-right: 2px;">
            <i class="fa fa-recycle"></i>
            Empty cache
          </a>
          <% } %>
      </h1>
     
      <!-- <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol> -->
     
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->
        <div class="row">
            <div class="col-md-12">
                    <% include ../partials/alert_info %>
                    <% include ../partials/alert_error %>
            </div>
        </div>
        <% include list_content %>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <% include ../partials/footer %>

  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<% include ../partials/footer_js %>

<!-- DataTables -->
<script src="admin248/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="admin248/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<!-- AdminLTE App -->
<script src="admin248/dist/js/adminlte.min.js"></script>


<script>
    $(function () {
      $('#listdata').DataTable(
        {"order": [[ 2, "desc" ]]} 
      )
    })
  </script>

</body>
</html>