<div class="row">
    <div class="col-md-12">
            <% include ../partials/alert_info %>
            <% include ../partials/alert_error %>
    </div>
</div>

<div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">CV Information</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="form-group <%= (typeof errors != 'undefined' && errors['name'])?'has-error':'' %>">
                <label for="">Name <code>*</code></label>
                <input type="text" class="form-control" name="name"
                    value="<%= model.name %>">
                <p class="help-block">Name must be 2-200 chars length.</p>
            </div>
            <div class="form-group <%= (typeof errors != 'undefined' && errors['dob'])?'has-error':'' %>">
                <label for="">Date of birth <code>*</code></label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" name="dob"
                            name="dob" 
                            value="<%= model.dob %>">
                </div>
                <p class="help-block">DOB is required.</p>
            </div>
            <div class="form-group">
                <label for="">Gender</label>
                <div class="row">
                    <div class="col-md-2">
                        <div class="radio">
                            <label>
                                <input type="radio" name="gender" value="true" <%= model.gender?'checked':'' %>>
                                Male
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="radio">
                            <label>
                                <input type="radio" name="gender" value="false" <%= model.gender?'':'checked' %>>
                                Female
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group <%= (typeof errors != 'undefined' && errors['short_address'])?'has-error':'' %>">
                <label for="">Short address</label>
                <input type="text" class="form-control" name="short_address"
                    value="<%= model.short_address %>">
               
            </div>

            <div class="form-group">
                <label for="">Marital status</label>
                <div class="row">
                    <div class="col-md-2">
                        <div class="radio">
                            <label>
                                <input type="radio" name="marital" value="S" <%= model.marital==='S'?'checked':'' %>>
                                Single
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="radio">
                            <label>
                                <input type="radio" name="marital" value="M" <%= model.marital==='M'?'checked':'' %>>
                                Married
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="radio">
                            <label>
                                <input type="radio" name="marital" value="D" <%= model.marital==='D'?'checked':'' %>>
                                Divorced
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Nationality</label>
                <select class="form-control" name="nationality">
                    <option>Vietnamese</option>
                    <option>US</option>
                    <option>Canana</option>
                </select>
            </div>

            <div class="form-group">
                <label for="">Current salary <i>(Optional)</i></label>
                <div class="row">
                    <div class="col-md-5"> <input type="number" class="form-control" name="salary_current" placeholder="Avarage"
                        value="<%= model.salary_current %>"></div>
                    <div class="col-md-2">
                        <select class="form-control" name="current_currency">
                            <option>VND</option>
                            <option>$</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="">Expected salary <i>(Optional)</i></label>
                <div class="row">
                    <div class="col-md-5"> <input type="number" class="form-control" name="salary_min" placeholder="Min"
                        value="<%= model.salary_min %>"></div>
                    <div class="col-md-5"><input type="number" class="form-control" name="salary_max" placeholder="Max"
                        value="<%= model.salary_max %>"></div>
                    <div class="col-md-2"><select class="form-control" name="salary_currency">
                            <option>VND</option>
                            <option>$</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group <%= (typeof errors != 'undefined' && errors['available_time'])?'has-error':'' %>">
                <label for="">Available times to work <code>*</code></label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" name="available_time"
                            name="dob" 
                            value="<%= model.available_time %>">
                </div>
                <p class="help-block">Available times to work is required.</p>
            </div>

            <div class="form-group <%= (typeof errors != 'undefined' && errors['short_education'])?'has-error':'' %>">
                <label for="">Education <code>*</code></label>
                <textarea rows="5" class="form-control textarea" name="short_education"
                    ><%= model.short_education %></textarea>
                <p class="help-block">Maximum is 2000 characters.</p>
            </div>

            

            <div class="form-group <%= (typeof errors != 'undefined' && errors['short_experience'])?'has-error':'' %>">
                <label for="">Summary experiences <code>*</code></label>
                <textarea rows="5" class="form-control textarea" name="short_experience"
                    ><%= model.short_experience %></textarea>
                <p class="help-block">Maximum is 2000 characters.</p>
            </div>

            <div class="form-group <%= (typeof errors != 'undefined' && errors['additional'])?'has-error':'' %>">
                <label for="">Addtional Info. <code>*</code></label>
                <textarea rows="5" class="form-control textarea" name="additional"
                    ><%= model.additional %></textarea>
                <p class="help-block">Maximum is 2000 characters.</p>
            </div> 
            
        
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <div class="col-md-6">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Advantage Information</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="form-group <%= (typeof errors != 'undefined' && errors['can_code'])?'has-error':'' %>">
                    <label for="">HTS Code <code>*</code></label>
                    <input type="text" class="form-control" name="can_code"
                        value="<%= model.can_code %>" readonly="readonly">
                    <p class="help-block">Unique code candidate</p>
                </div>

                <div class="form-group <%= (typeof errors != 'undefined' && errors['resume_file'])?'has-error':'' %>">     
                    <label>CV file <code>*</code></label>
                    <input type="file" id="resume_file" name="resume_file" class="form-control">
                    <p class="help-block">Only pdf file. Maximum is 10Mb.</p>
                </div>

                <div class="form-group <%= (typeof errors != 'undefined' && errors['occupations'])?'has-error':'' %>"">
                    <label for="">Occupations <code>*</code></label>
                    <select class="form-control select2" multiple="multiple" style="width: 100%;" name="occupations">
                        <% lstOccupations.forEach(item => { 
                        %>
                            <option value="<%= item._id %>"><%= item.name %></option>
                            
                        <% }) %>
                    </select>
                </div>

                <div class="form-group <%= (typeof errors != 'undefined' && errors['cities'])?'has-error':'' %>">
                    <label for="">Places to work <code>*</code></label>
                    <select class="form-control select2" multiple="multiple" style="width: 100%;" name="cities">
                        <option value="<%= lstCities[0]._id %>" selected><%= lstCities[0].name %></option>
                        <% for(var i = 1; i < lstCities.length; i++) { %>
                            <option value="<%= lstCities[i]._id %>"><%= lstCities[i].name %></option>
                        <% } %>
                        
                    </select>
                    <p class="help-block">At least one place is required.</p>
                </div>

                <div class="form-group <%= (typeof errors != 'undefined' && errors['work_title'])?'has-error':'' %>">
                    <label for="">Work title <code>*</code></label>
                    <input type="text" class="form-control" name="work_title" 
                        value="<%= model.work_title %>">
                    <p class="help-block">Maximum is 200 characters.</p>
                </div>

                <div class="form-group <%= (typeof errors != 'undefined' && errors['email'])?'has-error':'' %>">
                    <label for="">Email address <code>*</code></label>
                    <input type="email" class="form-control" name="email" value="<%= model.email %>">
                    <p class="help-block">Maximum is 100 characters.</p>
                </div>

                <div class="form-group <%= (typeof errors != 'undefined' && errors['phone'])?'has-error':'' %>">
                    <label for="">Phone <code>*</code></label>
                    <input type="text" class="form-control" name="phone" value="<%= model.phone %>">
                    <p class="help-block">Maximum is 20 characters.</p>
                </div>

                <div class="form-group">
                    <label for="">Highest qualification</label>
                    <select class="form-control select2" style="width: 100%;" name="qualification">
                        <% lstQualifications.forEach(item => { 
                        %>
                            <option value="<%= item._id %>"><%= item.name %></option>
                            
                        <% }) %>
                    </select>
                </div>

                <div class="form-group">
                    <label for="">Experience year</label>
                    <select class="form-control select2" style="width: 100%;" name="experience">
                        <% lstExperiences.forEach(item => { 
                        %>
                            <option value="<%= item._id %>"><%= item.name %></option>
                            
                        <% }) %>
                    </select>
                </div>

                <div class="form-group">
                    <label for="">Role/Position/Level</label>
                    <select class="form-control select2" style="width: 100%;" name="position">
                        <% lstPositions.forEach(item => { 
                        %>
                            <option value="<%= item._id %>"><%= item.name %></option>
                            
                        <% }) %>
                    </select>
                </div>

                <div class="form-group <%= (typeof errors != 'undefined' && errors['languages'])?'has-error':'' %>">
                    <label for="">Languages <code>*</code></label>
                    
                    <select class="form-control select2" multiple="multiple" style="width: 100%;" name="languages">
                        <option value="<%= lstLanguages[0]._id %>" selected><%= lstLanguages[0].name %></option>
                        <% for(var i = 1; i < lstLanguages.length; i++) { %>
                            <option value="<%= lstLanguages[i]._id %>"><%= lstLanguages[i].name %></option>
                        <% } %>
                    </select>
                    <p class="help-block">At least one language is required.</p>
                </div>

                <div class="form-group <%= (typeof errors != 'undefined' && errors['job_types'])?'has-error':'' %>">
                    <label for="">Types of jobs <code>*</code></label>
                
                    <select class="form-control select2" multiple="multiple" style="width: 100%;" name="job_types">
                        <option value="<%= lstJobTypes[0]._id %>" selected>
                            <%= lstJobTypes[0].name %>
                        </option>
                        <% for(var i = 1; i < lstJobTypes.length; i++) { %>
                        <option value="<%= lstJobTypes[i]._id %>">
                            <%= lstJobTypes[i].name %>
                        </option>
                        <% } %>
                    </select>
                    <p class="help-block">At least one type is required.</p>
                
                </div>

                <div class="form-group <%= (typeof errors != 'undefined' && errors['submitedDate'])?'has-error':'' %>">
                    <label for="">Submited date <code>*</code></label>
                    
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" name="submitedDate"
                                name="submitedDate" 
                                value="<%= model.submitedDate %>">
                    </div>
                    <p class="help-block">Submited date is required.</p>
                </div>

                <!-- <div class="form-group">
                    <label for="">Consultant</label>
                    <select class="form-control" style="width: 100%;" name="employee">
                        <option><%= locals.loggedIn.name %></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="">System status</label>
                    <select class="form-control" style="width: 100%;" name="status">
                        <option>Active</option>
                        <option>Inactive</option>
                        <option>Draft</option>
                    </select>
                </div> -->
    
            </div>
        </div>
    
        <!-- /.box-body -->
    </div>
</div>