<%
    var heightCareer = 100;
    console.log('build height for occupations', data.lstOccupations.length);
    var col = Math.round(data.lstOccupations.length / 12);
    heightCareer = col==0?heightCareer : col * heightCareer;
%>

<style>
div.newspaper2 {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    height: <%= heightCareer %>px;
    -moz-column-fill: auto; /* Firefox */
    column-fill: auto;
}

</style>
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <!-- form start -->
            
                
            <div class="box-body newspaper2">
                <%
                    var keys = Object.keys(occGroup);
                    for (var i = 0; i < keys.length; i++) {
                %>
                    <div>
                    <ul><%= keys[i] %>
                        <% 
                        for (var j = 0; j < occGroup[keys[i]].length; j++) {
                            var occ = occGroup[keys[i]][j];
                            %>
                            <li><a href="/candidates?occupation=<%= occ._id %>"><%= occ.name %></a> <span style="color: brown"><%= '(' + occ.no + ')' %></span></li>
                        <% } %>
                    </ul>
                    </div>
                <%
                }
                %>
                
            </div><!-- /.box-body -->
                    
               
            
        
        </div><!-- /.box -->
    </div>
</div>