
<!-- general form elements -->
<div class="box box-primary">
    <!-- <div class="box-header">
        <h3 class="box-title">Add new city</h3>
    </div> -->
    <!-- /.box-header -->
    <!-- form start -->
    
    <div class="box-body">
            <% include ../partials/alert_info %>
            <% include ../partials/alert_error %>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group <%= (typeof errors != 'undefined' && errors['occupation'])?'has-error':'' %>">
                    <label for="">Nganh nghe</label>
                    <select class="form-control select2" style="width: 100%;" name="occupation" id="occupation">
                        <% lstOccupations.forEach(item => { 
                        %>
                            <option value="<%= item._id %>"><%= item.name %></option>
                            
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group <%= (typeof errors != 'undefined' && errors['occupation'])?'has-error':'' %>">
                    <label for="">Noi lam viec</label>
                    <select class="form-control select2" multiple="multiple" style="width: 100%;" name="cities" id="cities">
                        <option value="<%= lstCities[0]._id %>" selected><%= lstCities[0].name %></option>
                        <% for(var i = 1; i < lstCities.length; i++) { %>
                            <option value="<%= lstCities[i]._id %>"><%= lstCities[i].name %></option>
                        <% } %>
                    </select>
                </div>
            </div>
           
        </div>

        <div class="row">
            <div class="col-md-6">
                    <div class="form-group <%= (typeof errors != 'undefined' && errors['name'])?'has-error':'' %>">
                        <label for="">Ho va ten</label>
                        <input type="text" class="form-control" name="name" id="name"
                            value="<%= model.name %>">
                    </div>
            </div>
            <div class="col-md-6">
                    <div class="form-group <%= (typeof errors != 'undefined' && errors['work_title'])?'has-error':'' %>">
                        <label for="">Chuc danh cong viec</label>
                        <input type="text" class="form-control" name="work_title" 
                            value="<%= model.work_title %>">
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                    <div class="form-group <%= (typeof errors != 'undefined' && errors['email'])?'has-error':'' %>">
                        <label for="">Email</label>
                        <input type="email" class="form-control" name="email" 
                            value="<%= model.email %>">
                    </div>
            </div>
            <div class="col-md-6">
                    <div class="form-group <%= (typeof errors != 'undefined' && errors['phone'])?'has-error':'' %>">
                        <label for="">Dien thoai</label>
                        <input type="text" class="form-control" name="phone" 
                            value="<%= model.phone %>">
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                    <div class="form-group <%= (typeof errors != 'undefined' && errors['gender'])?'has-error':'' %>">
                        <label for="">Gioi tinh</label>
                        <select class="form-control" name="gender">
                            <option value="true">Nam</option>
                            <option value="false">Nu</option>
                        </select>
                    </div>
            </div>
            <div class="col-md-6">
                    <div class="form-group <%= (typeof errors != 'undefined' && errors['dob'])?'has-error':'' %>">
                        <label for="">Ngay sinh</label>
                        <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="dob"
                                        name="dob" 
                                        value="<%= model.dob %>">
                            </div>
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group <%= (typeof errors != 'undefined' && errors['qualification'])?'has-error':'' %>">
                    <label for="">Bang cap</label>
                    <select class="form-control select2" style="width: 100%;" name="qualification">
                        <% lstQualifications.forEach(item => { 
                        %>
                            <option value="<%= item._id %>"><%= item.name %></option>
                            
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group <%= (typeof errors != 'undefined' && errors['experience'])?'has-error':'' %>">
                    <label for="">Kinh nghiem</label>
                    <select class="form-control select2" style="width: 100%;" name="experience">
                        <% lstExperiences.forEach(item => { 
                        %>
                            <option value="<%= item._id %>"><%= item.name %></option>
                            
                        <% }) %>
                    </select>
                </div>
            </div>
           
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group <%= (typeof errors != 'undefined' && errors['position'])?'has-error':'' %>">
                    <label for="">Cap bac</label>
                    <select class="form-control select2" style="width: 100%;" name="position">
                        <% lstPositions.forEach(item => { 
                        %>
                            <option value="<%= item._id %>"><%= item.name %></option>
                            
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group <%= (typeof errors != 'undefined' && errors['languages'])?'has-error':'' %>">
                    <label for="">Ngoai ngu</label>
                    
                    <select class="form-control select2" multiple="multiple" style="width: 100%;" name="languages">
                        <option value="<%= lstLanguages[0]._id %>" selected><%= lstLanguages[0].name %></option>
                        <% for(var i = 1; i < lstLanguages.length; i++) { %>
                            <option value="<%= lstLanguages[i]._id %>"><%= lstLanguages[i].name %></option>
                        <% } %>
                    </select>
                </div>
            </div>
           
        </div>

        <div class="row">
            <div class="col-md-6">
                    <div class="form-group <%= (typeof errors != 'undefined' && errors['salary'])?'has-error':'' %>">
                        <label for="">Luong mong muon</label>
                        <div class="row">
                                <div class="col-md-5"> <input type="number" class="form-control" name="salary_min" 
                                    value="<%= model.salary_min %>"></div>
                                <div class="col-md-5"><input type="number" class="form-control" name="salary_max" 
                                    value="<%= model.salary_max %>"></div>
                                <div class="col-md-2"><select class="form-control" name="salary_currency">
                                        <option>VND</option>
                                        <option>$</option>
                                    </select></div>
                                </div>
                    </div>
            </div>
            <div class="col-md-6">
                    <div class="form-group <%= (typeof errors != 'undefined' && errors['job_types'])?'has-error':'' %>">
                        <label for="">Loai hinh cong viec</label>
                        <select class="form-control select2" multiple="multiple" style="width: 100%;" name="job_types">
                                <option value="<%= lstJobTypes[0]._id %>" selected><%= lstJobTypes[0].name %></option>
                                <% for(var i = 1; i < lstJobTypes.length; i++) { %>
                                    <option value="<%= lstJobTypes[i]._id %>"><%= lstJobTypes[i].name %></option>
                                <% } %>
                        </select>
                    </div>
                </div>
           
        </div>

        <div class="row">
            <div class="col-md-6">
                    <div class="form-group <%= (typeof errors != 'undefined' && errors['submitedDate'])?'has-error':'' %>">
                        <label for="">Ngay nop CV</label>
                        
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="submitedDate"
                                    name="submitedDate" 
                                    value="<%= model.submitedDate %>">
                        </div>
                    </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Trang thai</label>
                    <select class="form-control" style="width: 100%;" name="status">
                        <option>Hoat dong</option>
                        <option>Khong hoat dong</option>
                        <option>Nhap</option>
                    </select>
                </div>
            </div>
            
        </div>


        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">ID</label>
                    <input type="text" class="form-control" 
                        value="<%= model._id %>" disabled>
                </div>
            </div>
           
        </div>
        
       
        
        
    </div><!-- /.box-body -->

    
</div><!-- /.box -->
    