<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>H-TalentSearch | <%= title %></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <% include ../partials/header_css %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
 <% include ../partials/header %>
  <!-- Left side column. contains the logo and sidebar -->
  <% include ../partials/sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper"><form method="POST">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
          Update candidate
          <small><i class="fa fa-arrow-circle-left"></i>
            <a href="/candidates">Back to list</a></small>

        
        <button type="submit" name="save" class="btn bg-blue pull-right">
            <i class="fa fa-floppy-o"></i>
            Update
            </button>
        <button class="btn bg-red pull-right delete" style="margin-right: 2px;"
        data-id="<%= model._id %>">
            <i class="fa fa-trash"></i>
            Delete
        </button>

        <a href="/candidates/resume/<%= model._id %>" class="btn bg-maroon pull-right" style="margin-right: 2px;">
            <i class="fa fa-file-pdf-o"></i>
            Resume
        </a>

        <a href="/candidates/history/<%= model._id %>" class="btn bg-purple pull-right" style="margin-right: 2px;">
          <i class="fa fa-calendar-check-o"></i>
          Work history
      </a>
            
      </h1>
     
     
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->
        <% include edit_content %>

    </section>
    <!-- /.content --></form>
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <% include ../partials/footer %>

  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<% include ../partials/footer_js %>
<!-- Select2 -->
<script src="/admin248/bower_components/select2/dist/js/select2.full.min.js"></script>
<!-- bootstrap datepicker -->
<script src="/admin248/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- AdminLTE App -->
<script src="/admin248/dist/js/adminlte.min.js"></script>


<script>
    $(function () {
      $('.delete').on('click', function(e){
            e.preventDefault();
            if (confirm('Are you sure?')) {
                $target = $(e.target);
                const id = $target.attr('data-id');
                $.ajax({
                    type: 'GET',
                    url: '/candidates/delete/' + id,
                    success: function(res) {
                        alert('Delete success');
                        window.location.href = '/candidates'
                    },
                    error: function(err) {
                        console.log(err);
                    }
                })
            } 
      });
      $('#mnu_candidate').addClass('active');
      $('#mnu_candidate_content').css('display', 'block');
      //Initialize Select2 Elements
      $('.select2').select2();
      $("[name='submitedDate']").datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true
      })
      $("[name='dob']").datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true
      })
      $("[name='available_time']").datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true
      })
      //binding data
      // binding data
      var gender = '<%= model.gender %>';
      var short_address = '<%= model.short_address %>';
      var marital = '<%= model.marital %>';
      var nationality = '<%= model.nationality %>';
      var current_currency = '<%= model.current_currency %>';
      var salary_currency = '<%= model.salary_currency %>';
      var occupations = '<%= model.occupations %>';
      var cities = '<%= model.cities %>';
      var qualification = '<%= model.qualification %>';
      var experience = '<%= model.experience %>';
      var position = '<%= model.position %>';
      var languages = '<%= model.languages %>';
      var job_types = '<%= model.job_types %>';
      //var employee = '<%= model.employee %>';
      //var status = '<%= model.status %>';

      if (gender) $('input:radio[name="gender"]').filter('[value="'+gender+'"]').attr('checked', true);
      if (short_address) $('select[name="short_address"]').val(short_address).change();
      if (nationality) $('select[name="nationality"]').val(nationality).change();
      if (current_currency) $('select[name="current_currency"]').val(current_currency).change();
      if (salary_currency) $('select[name="salary_currency"]').val(salary_currency).change();

      if (occupations) $('select[name="occupations"]').val(occupations.split(',')).change();
      if (qualification) $('select[name="qualification"]').val(qualification).change();
      if (experience) $('select[name="experience"]').val(experience).change();
      if (position) $('select[name="position"]').val(position).change();
      //if (employee) $('select[name="employee"]').val(employee).change();
      //if (status) $('select[name="status"]').val(status).change();

      if (cities) $('select[name="cities"]').val(cities.split(',')).change();
      if (languages) $('select[name="languages"]').val(languages.split(',')).change();
      if (job_types) $('select[name="job_types"]').val(job_types.split(',')).change();

      $('input[name="name"]').focus();
    })
  </script>

</body>
</html>