<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <!-- form start -->
            
                
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Keywords</label>
                                <input type="text" class="form-control" name="keyword"
                                placeholder="Name, email, phone, work title, HTS code"
                                value="<%= filterText.keyword %>">
                                <!-- <p class="help-block">Name, email, phone, work title, HTS code</p> -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                    <label>Occupation</label>
                                    <select class="form-control select2" style="width: 100%;" name="occupation">
                                        <option value="">All</option>
                                        <% data.lstOccupations.forEach(item => { 
                                            %>
                                                <option value="<%= item._id %>"><%= item.name %></option>
                                                
                                            <% }) %>
                                    </select>
                                
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Places to work</label>
                                <select class="form-control select2" style="width: 100%;" name="city">
                                    <option value="">All</option>
                                    <% data.lstCities.forEach(item => { 
                                        %>
                                            <option value="<%= item._id %>"><%= item.name %></option>
                                            
                                        <% }) %>
                                </select>
                                
                            </div>
                        </div>
                    </div>

                    <div class="row" id="filter_1" style="display: none;">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Position/Level</label>
                                <select class="form-control select2" style="width: 100%;" name="position">
                                    <option value="">All</option>
                                    <% data.lstPositions.forEach(item => { 
                                        %>
                                            <option value="<%= item._id %>"><%= item.name %></option>
                                            
                                        <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Qualification</label>
                                <select class="form-control select2" style="width: 100%;" name="qualification">
                                    <option value="">All</option>
                                    <% data.lstQualifications.forEach(item => { 
                                        %>
                                            <option value="<%= item._id %>"><%= item.name %></option>
                                            
                                        <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Experiences</label>
                                <select class="form-control select2" style="width: 100%;" name="experience">
                                    <option value="">All</option>
                                    <% data.lstExperiences.forEach(item => { 
                                        %>
                                            <option value="<%= item._id %>"><%= item.name %></option>
                                            
                                        <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Gender</label>
                                <select class="form-control select2" style="width: 100%;" name="gender">
                                    <option value="">All</option>
                                    <option value="true">Male</option>
                                    <option value="false">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="filter_2" style="display: none;">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Job type</label>
                                <select class="form-control select2" style="width: 100%;" name="jobtype">
                                    <option value="">All</option>
                                    <% data.lstJobTypes.forEach(item => { 
                                        %>
                                            <option value="<%= item._id %>"><%= item.name %></option>
                                            
                                        <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                        <div class="form-group">
                                <label>Languages</label>
                                <select class="form-control select2" style="width: 100%;" name="language">
                                    <option value="">All</option>
                                    <% data.lstLanguages.forEach(item => { 
                                        %>
                                            <option value="<%= item._id %>"><%= item.name %></option>
                                            
                                        <% }) %>
                                </select>
                                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                    <label>Expected salary</label>
                                    <div class="row">
                                        <div class="col-md-4"> <input type="number" class="form-control" name="salary_expected"
                                            value="<%= filterText.salary_expected %>"></div>
                                       
                                        <div class="col-md-4"><select class="form-control select2" style="width: 100%;" name="salary_currency">
                                                <option value="">All</option>
                                                <option>VND</option>
                                                <option>$</option>
                                            </select>
                                        </div>
                                    </div>
                                    <p class="help-block">Currency is required for these conditions</p>
                                </div>
                        </div>
                        
                    </div>
                    <div class="row" id="filter_3" style="display: none;">
                        <div class="col-md-3">
                                <div class="form-group">
                                    <label>Year of birth</label>
                                    <input type="number" class="form-control" name="year_dob"
                                    placeholder="Enter year"
                                        value="<%= filterText.year_dob %>">
                                    <!-- <p class="help-block">Vd: 1990-2005</p> -->
                                </div>
                        </div>
                        <% if (locals.isManagerCommon) { %>
                        <div class="col-md-3">
                                <div class="form-group">
                                    <label>Consultant</label>
                                    <select class="form-control select2" style="width: 100%;" name="consultant">
                                        <option value="">All</option>
                                        <% data.lstUsers.forEach(item => { 
                                            %>
                                                <option value="<%= item.name %>"><%= item.name %></option>
                                                
                                            <% }) %>
                                    </select>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    
                </div><!-- /.box-body -->
                    
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>
                        Search</button>
                        &nbsp;
                        <span><i class="fa fa-magic"></i>
                        <a id="link_expand" href="#" onclick="return expandFilter();">Expand</a></span>
                </div>
            
        
        </div><!-- /.box -->
    </div>
</div>