<div class="row">
        <div class="col-md-12">
            <ul class="timeline">

                <% 
                var expr_length = model.work_experience? model.work_experience.length:0;
                for(var i=0; i< expr_length; i++) {
                    var item = model.work_experience[i];
                    var to = item.to_date?moment(item.to_date):moment();
                    var from = moment(item.from_date);
                    var diff = to.diff(from, 'months');
                %>

            <!-- timeline time label -->
            <li class="time-label">
                    <!-- <span class="bg-purple">
                        
                    </span> -->
                    <div class="btn-group">
                        <button type="button" class="btn bg-purple"><%= moment(item.from_date).format('DD/MM/YYYY') %> - <%= item.to_date?moment(item.to_date).format('DD/MM/YYYY'):'now' %></button>
                        <button type="button" class="btn bg-purple dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            
                            <% if (i !== 0) { %>
                                <li><a href="/candidates/history_up/<%= model._id %>/<%= item._id %>">
                                <i class="fa fa-arrow-up"></i> Move up
                            </a></li>
                            <% } %>
                            <% if (i !== expr_length-1) { %>
                                <li><a href="/candidates/history_down/<%= model._id %>/<%= item._id %>">
                                <i class="fa fa-arrow-down"></i> Move down
                            </a></li>
                            <% } %>
                            <li class="divider"></li>
                            <li><a href="/candidates/history_copy/<%= model._id %>/<%= item._id %>">Copy</a></li>
                            <li><a href="/candidates/history_edit/<%= model._id %>/<%= item._id %>">Edit</a></li>
                            <li class="divider"></li>
                            <li><a href="/candidates/history_del/<%= model._id %>/<%= item._id %>">Delete</a></li>
                        </ul>
                        </div>
                </li>
                <!-- /.timeline-label -->
                <li>
                    <i class="fa fa-user bg-aqua"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> <%= diff %> month(s)</span>
                        <h3 class="timeline-header no-border"><a href="#">Bussiness</a> <%= item.company %></h3>
                    </div>
                </li>
                <!-- timeline item -->
                <li>
                    <i class="fa fa-briefcase bg-yellow"></i>
                    <div class="timeline-item">
                        
                        <h3 class="timeline-header"><a href="#">Position</a> <%= item.position_level %></h3>
                        <div class="timeline-body">
                            <%- item.main_duties %>
                        </div>
                        
                    </div>
                </li>
                <!-- END timeline item -->

                <% } %>

                <li>
                    <i class="fa fa-clock-o"></i>
                </li>
            </ul>
        </div>
    </div>

<!-- COMPOSE MESSAGE MODAL -->
<div class="modal fade" id="work_window" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                <h4 class="modal-title">Experience</h4>
            </div>
            <form action="/candidates/history/<%= model._id %>" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                                <% include ../partials/alert_info %>
                                <% include ../partials/alert_error %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                                <div class="form-group <%= (typeof errors != 'undefined' && errors['from_date'])?'has-error':'' %>">
                                        <label for="">From date <code>*</code></label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" name="from_date"
                                                value="<%= expr.from_date %>">
                                        </div>
                                    </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-group <%= (typeof errors != 'undefined' && errors['to_date'])?'has-error':'' %>">
                                        <label for="">To date</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" name="to_date"
                                                value="<%= expr.to_date %>">
                                        </div>
                                        <p class="help-block">Empty means now</p>
                                    </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group <%= (typeof errors != 'undefined' && errors['company'])?'has-error':'' %>">
                                <label for="">Bussiness type/Company <code>*</code></label>
                                <input type="text" class="form-control" name="company"
                                    value="<%= expr.company %>">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group <%= (typeof errors != 'undefined' && errors['position_level'])?'has-error':'' %>">
                                <label for="">Position/Level <code>*</code></label>
                                <input type="text" class="form-control" name="position_level"
                                    value="<%= expr.position_level %>">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group <%= (typeof errors != 'undefined' && errors['main_duties'])?'has-error':'' %>">
                                    <label for="">Summary experiences <code>*</code></label>
                                    <textarea rows="5" class="form-control textarea" name="main_duties"
                                        ><%= expr.main_duties %></textarea>
                                    <p class="help-block">Maximum is 2000 characters.</p>
                                </div>
                        </div>
                    </div>
                    <% if(expr._id) { %>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">ID</label>
                                <input type="text" class="form-control" name="_id"
                                    value="<%= expr._id %>" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <% } %>

                </div>
                <div class="modal-footer clearfix">
                    <% if(expr._id) { %>
                        <a class="btn btn-danger" href="/candidates/history/<%= model._id %>"><i class="fa fa-times"></i> Cancel and Return</a>
                    <% } else { %>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                    <% } %>

                    <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-floppy-o"></i> Save</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->