<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>H-TalentSearch | <%= title %></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <% include ../partials/header_css %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
 <% include ../partials/header %>
  <!-- Left side column. contains the logo and sidebar -->
  <% include ../partials/sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Candidates
        <small>Person find a job</small>

        <a class="btn bg-blue pull-right" href="/candidates/add">
          <i class="fa fa-plus-square"></i>
          Create a new
        </a>
      </h1>
     
      <!-- <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol> -->
     
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->
        <form method="get" id="form_paging">
        <% include filter_box %>
        <% include career_builder %>
        <% include list_content %>
        </form>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <% include ../partials/footer %>

  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<% include ../partials/footer_js %>

<!-- Select2 -->
<script src="/admin248/bower_components/select2/dist/js/select2.full.min.js"></script>

<!-- DataTables -->
<script src="admin248/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="admin248/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<!-- AdminLTE App -->
<script src="admin248/dist/js/adminlte.min.js"></script>


<script>
    $(function () {

      $('#mnu_candidate').addClass('active');
      $('#mnu_candidate_content').css('display', 'block');
      
      $('#mnu_candidate_list').addClass('active');

      $('.select2').select2();

      $('#page_size').on('change', function(e){
        $('#form_paging').submit();
      });

      $('#page_number').on('change', function(e){
        $('#form_paging').submit();
      });

      $( "#page_size" ).val('<%= paging.page_size %>');
      $( "#page_number" ).val('<%= paging.page_number %>');

      var occupation = '<%= filterText.occupation %>';
      if (occupation) $('select[name="occupation"]').val(occupation).change();
      var city = '<%= filterText.city %>';
      if (city) $('select[name="city"]').val(city).change();
      var position = '<%= filterText.position %>';
      if (position) $('select[name="position"]').val(position).change();
      var qualification = '<%= filterText.qualification %>';
      if (qualification) $('select[name="qualification"]').val(qualification).change();
      var experience = '<%= filterText.experience %>';
      if (experience) $('select[name="experience"]').val(experience).change();
      var jobtype = '<%= filterText.jobtype %>';
      if (jobtype) $('select[name="jobtype"]').val(jobtype).change();
      var language = '<%= filterText.language %>';
      if (language) $('select[name="language"]').val(language).change();
      var consultant = '<%= filterText.consultant %>';
      if (consultant) $('select[name="consultant"]').val(consultant).change();
      var gender = '<%= filterText.gender %>';
      if (gender) $('select[name="gender"]').val(gender).change();
      var salary_currency = '<%= filterText.salary_currency %>';
      if (salary_currency) $('select[name="salary_currency"]').val(salary_currency).change();
     
     
    })

    function expandFilter(){
            var link = $('#link_expand');
            if (link.text() === 'Expand') {
                $('#filter_1').css('display', 'block');
                $('#filter_2').css('display', 'block');
                $('#filter_3').css('display', 'block');
                link.text('Basic');
            } else {
                $('#filter_1').css('display', 'none');
                $('#filter_2').css('display', 'none');
                $('#filter_3').css('display', 'none');
                link.text('Expand');
            }
            return false;
        }
  </script>

</body>
</html>