<div class="row">
    <div class="col-xs-12">

        <div class="box box-primary">
            <!-- <div class="box-header">
                <h3 class="box-title">Data Table With Full Features</h3>
            </div> -->
            <!-- /.box-header -->
            <div class="box-body">
                <table id="listdata" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Occupations</th>
                    <th>Places</th>
                    <th>Work title</th>
                    <!-- <th>Consultant</th> -->
                    <th style="width: 140px">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <% list.forEach(item => { %>
                    <tr>
                        <td>[<%= item.can_code %>] <%= item.name %> </td>
                        <td><% 
                            item.occupations.forEach(occ=> { %>
                                <%= occ.name %>,
                            <% }) %></td>
                        
                        <td><% 
                            item.cities.forEach(city=> { %>
                                <%= city.name %>,
                            <% }) %>
                            </td>
                            <td><%= item.work_title %></td>
                        <!-- <td><%= item.employee %></td> -->
                        <td>
                            <div style="display:inline-block">
                                <a href="/candidates/edit/<%= item._id %>" class="btn btn-sm btn-primary">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>
                            <div style="display:inline-block">
                                <a href="/candidates/delete/<%= item._id %>" class="btn btn-sm btn-danger" onclick="return confirm('Are your sure delete this item?');">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                            <!-- <div style="display:inline-block">
                                <a href="/candidates/clone/<%= item._id %>" class="btn btn-sm btn-success" onclick="return confirm('Do you want to clone this candidate?');">
                                    <i class="fa fa-clone"></i>
                                </a>
                            </div> -->
                            <div style="display:inline-block">
                                <a href="/candidates/notes/<%= item._id %>" class="btn btn-sm btn-success">
                                    <i class="fa fa-commenting-o"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1">
                                <span class=""><i class="fa fa-envelope"></i> <%= item.email %></span><br/>
                                <span class=""><i class="fa fa-phone"></i> <%= item.phone %></span><br/>
                                <span class=""><i class="fa fa-calendar"></i> <%= item.dob.toISOString() %></span>
                                <br>
                                <span><i class="fa fa-intersex"></i> <%= item.gender?'Male':'Female' %></span>
                                <br>
                                <span><i class="fa fa-pencil"></i> <%= item.createdAt.toISOString() %></span>
                        </td>
                        <td colspan="4">
                            <div class="row">
                                <div class="col-md-6">
                                        <span><i class="fa fa-angle-double-right"></i> Position/Level: <%= item.position.name %></span>
                                        <br>
                                        <span><i class="fa fa-angle-double-right"></i> Qualification: <%= item.qualification.name %></span>
                                        <br>
                                        <span><i class="fa fa-angle-double-right"></i> Experience: <%= item.experience.name %></span>
                                        <br>
                                        <span><i class="fa fa-angle-double-right"></i> Job types: <% item.job_types.forEach(jt=> { %>
                                                <%= jt.name %>,
                                            <% }) %></span>
                                        <br>
                                        <span><i class="fa fa-angle-double-right"></i> Languages: <% item.languages.forEach(jt => { %>
                                                <%= jt.name %>,
                                            <% }) %></span>
                                </div>
                                <div class="col-md-6">
                                    <span><i class="fa fa-angle-double-right"></i> Current salary: <%= item.salary_current.toLocaleString('de-DE') %> <%= item.current_currency %></span>
                                    <br>
                                    <span><i class="fa fa-angle-double-right"></i> Expected salary: [<%= item.salary_min.toLocaleString('de-DE') %>, <%= item.salary_max.toLocaleString('de-DE') %>] <%= item.salary_currency %></span>
                                </div>
                            </div>
                            
                            
                        </td>
                    </tr>
                <% }) %>
                </tbody>
                
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
               
                        <label> Select
                                <select id="page_size" name="page_size">
                                        <option>5</option>
                                        <option>10</option>
                                        <option>20</option>
                                        <option>100</option>
                                </select> records per page</label>
                   
                        <label class="pull-right">Page number
                        
                        <select id="page_number" name="page_number">
                            <% for (var i = 1; i<= paging.total_page; i++ ) {%>
                                        <option><%= i %></option>
                                        <% } %>
                                </select> / <%= paging.total_page %>
                        (Total is <%= paging.number_records %> records)</label>
              
                
            </div>

        </div>
        <!-- /.box -->


    </div>
</div>