<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                    <table id="listdata" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Modified at</th>
                                <th>Consultant</th>
                                <th>Content</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% var notes_length = model.notes? model.notes.length:0;
                                for(var i=0; i< notes_length; i++) {
                                var item = model.notes[i];  %>
                                <tr>
                                    <td><%= item.modifiedAt.toISOString() %></td>
                                    <td><%= item.consultant %></td>
                                    <td><%- item.content.substring(0,100) %></td>
                                    <td>
                                        <div style="display:inline-block">
                                            <a href="/candidates/notes_edit/<%= model._id %>/<%= item._id %>" class="btn btn-sm btn-primary">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </div>
                                        <div style="display:inline-block">
                                            <a href="/candidates/notes_delete/<%= model._id %>/<%= item._id %>" class="btn btn-sm btn-danger" onclick="return confirm('Are your sure delete this item?');">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            <% } %>
                            </tbody>
                            <tfoot>
                            <tr>
                                    <th>Modified at</th>
                                    <th>Consultant</th>
                                    <th>Content</th>
                                    <th>Actions</th>
                            </tr>
                            </tfoot>
                </table>
            </div>
        </div>
            
    </div>
</div>

<!-- COMPOSE MESSAGE MODAL -->
<div class="modal fade" id="work_window" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                <h4 class="modal-title">Note</h4>
            </div>
            <form action="/candidates/notes/<%= model._id %>" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                                <% include ../partials/alert_info %>
                                <% include ../partials/alert_error %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group <%= (typeof errors != 'undefined' && errors['v'])?'has-error':'' %>">
                                <label for="">Modified At <code>*</code></label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" name="modifiedAt"
                                        value="<%= note.modifiedAt %>">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Consultant</label>
                                <input type="text" class="form-control" name="consultant"
                                    value="<%= note.consultant %>" readonly="readonly">
                            </div>
                        </div>
                    </div>

                    

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group <%= (typeof errors != 'undefined' && errors['content'])?'has-error':'' %>">
                                    <label for="">Content <code>*</code></label>
                                    <textarea rows="5" class="form-control textarea" name="content"
                                        ><%= note.content %></textarea>
                                    <p class="help-block">Maximum is 2000 characters.</p>
                                </div>
                        </div>
                    </div>
                    <% if(note._id) { %>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">ID</label>
                                <input type="text" class="form-control" name="_id"
                                    value="<%= note._id %>" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <% } %>

                </div>
                <div class="modal-footer clearfix">
                    <% if(note._id) { %>
                        <a class="btn btn-danger" href="/candidates/notes/<%= model._id %>"><i class="fa fa-times"></i> Cancel and Return</a>
                    <% } else { %>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                    <% } %>

                    <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-floppy-o"></i> Save</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->