<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>H-TalentSearch | <%= title %></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <% include ../partials/header_css %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
 <% include ../partials/header %>
  <!-- Left side column. contains the logo and sidebar -->
  <% include ../partials/sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
          Candidate notes
          <small><i class="fa fa-arrow-circle-left"></i>
            <a href="/candidates/edit/<%= model._id%>">Back to info</a></small>

            <button class="btn bg-blue pull-right"
              data-toggle="modal" data-target="#work_window">
                <i class="fa fa-plus-square"></i>
                Add note
            </button>
    
            
      </h1>
     
     
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->
        <% include notes_content %>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <% include ../partials/footer %>

  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<% include ../partials/footer_js %>
<!-- Select2 -->
<script src="/admin248/bower_components/select2/dist/js/select2.full.min.js"></script>
<!-- bootstrap datepicker -->
<script src="/admin248/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- DataTables -->
<script src="/admin248/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/admin248/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/admin248/dist/js/adminlte.min.js"></script>

<!-- Bootstrap WYSIHTML5 -->
<script src="/admin248/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>

<script>
    $(function () {
      
      $('#mnu_candidate').addClass('active');
      $('#mnu_candidate_content').css('display', 'block');

      $("[name='modifiedAt']").datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true
      })
     
      $('.textarea').wysihtml5()

      $('#listdata').DataTable(
        {"order": [[ 0, "desc" ]]} 
      )

      var showForm = '<%= show_form %>';
      if (showForm === 'true') {
        $('#work_window').modal('show');
      }
      
    })
  </script>

</body>
</html>