<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            
            <div class="box-body">
                <% if (model.resume_url) { %>
                <iframe src="/pdf/<%= model.resume_url %>#view=FitH" width="100%" height="800px">
                    This browser does not support PDFs. Please download the PDF to view it: <a href="#">Download PDF</a>
                </iframe>
                <% } else { %>
                    <center>Not yet upload resume of this candidate</center>
                <% } %>
            </div><!-- /.box-body -->
            <div class="box-footer clearfix">
                <div class="row">
                    <div class="col-xs-12">
                        <label> chrome://settings/content/pdfDocuments </label>
                    </div>
                </div>
            </div>
        </div><!-- /.box -->
    </div>
</div>

<!-- COMPOSE MESSAGE MODAL -->
<div class="modal fade" id="resume_window" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload orginal resume file</h4>
            </div>
            <form action="/candidates/upload/<%= model._id %>" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Pdf file <code>*</code></label>
                        <input type="file" id="resume_file" name="resume_file" class="form-control">
                        <p class="help-block">Only pdf file. Maximum is 10Mb.</p>
                    </div>

                </div>
                <div class="modal-footer clearfix">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>

                    <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-cloud-upload"></i> Upload</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->

 <!-- COMPOSE MESSAGE MODAL -->
<div class="modal fade" id="export_window" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">More information to export</h4>
                </div>
                <form action="/candidates/tmpl_hts/<%= model._id %>" method="get">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="">Position applied <code>*</code></label>
                            <input type="text" name="position_applied" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Language <code>*</code></label>
                            <select class="form-control" name="language_cv">
                                <option>English</option>
                                <option>Vietnamese</option>
                                
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer clearfix">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
    
                        <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-eye"></i> View to print</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
     </div><!-- /.modal -->