<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>H-TalentSearch | <%= title %></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <% include ../partials/header_css %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
 <% include ../partials/header %>
  <!-- Left side column. contains the logo and sidebar -->
  <% include ../partials/sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
          Resume candidate
          <small><i class="fa fa-arrow-circle-left"></i>
            <a href="/candidates/edit/<%= model._id%>">Back to info</a></small>

            <button class="btn bg-blue pull-right"
              data-toggle="modal" data-target="#resume_window">
                <i class="fa fa-floppy-o"></i>
                Upload
            </button>
    
            <!-- <a href="/candidates/tmpl_hts/<%= model._id %>" class="btn bg-maroon pull-right" style="margin-right: 2px;">
                <i class="fa fa-file-pdf-o"></i>
                Export HTS template
            </a> -->
            <button data-toggle="modal" data-target="#export_window" class="btn bg-maroon pull-right" style="margin-right: 2px;">
                <i class="fa fa-file-pdf-o"></i>
                Export HTS template
            </button>
            
      </h1>
     
     
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->
        <% include resume_content %>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <% include ../partials/footer %>

  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<% include ../partials/footer_js %>
<!-- Select2 -->
<script src="/admin248/bower_components/select2/dist/js/select2.full.min.js"></script>
<!-- bootstrap datepicker -->
<script src="/admin248/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- AdminLTE App -->
<script src="/admin248/dist/js/adminlte.min.js"></script>


<script>
    $(function () {
      
      $('#mnu_candidate').addClass('active');
      $('#mnu_candidate_content').css('display', 'block');
      
    })
  </script>

</body>
</html>