<!-- Main content -->
<section class="invoice">
        <!-- <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-globe"></i> AdminLTE, Inc.
                <small class="pull-right">Date: 2/10/2014</small>
              </h2>
            </div>
          </div> -->

        <div class="row">
            <div class="col-md-12 text-center">
                <h1>THÔNG TIN ỨNG VIÊN </h1>
                <h4>Vị trí ứng tuyển: <%= position_applied %></h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3 class="text-light-blue"><i class="fa fa-user margin-r-5"></i> THÔNG TIN CÁ NHÂN</h3>
                <ul>
                <li>Tên: <%= model.name %></li>
                <li>Ngày sinh: <%= moment(model.dob).format('DD/MM/YYYY') %></li>
                <li>Giới tính: <%= model.gender?'Male':'Female' %></li>
                <li>Địa chỉ: <%= model.short_address %></li>
                <li>Tình trạng hôn nhân: <%= model.marital=='S'?'Single':(model.marital=='M'?'Married':'Divorted') %></li>
                <li>Quóc tịch: <%= model.nationality %></li>
                <li>Thu nhập hiện tại: <%= model.salary_current %> <%= model.current_currency %></li>
                <li>Thu nhập mong muốn: <%= model.salary_min %> - <%= model.salary_max %> <%= model.salary_currency %></li>
                <li>Thời gian nhận việc: <%= moment(model.available_time).format('DD/MM/YYYY') %></li>
               
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-light-blue"><i class="fa fa-graduation-cap margin-r-5"></i> TRÌNH ĐỘ HỌC VẤN &amp; ĐÀO TẠO</h3>
                <p>
                    <%- model.short_education %>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-light-blue"><i class="fa fa-suitcase margin-r-5"></i> KINH NGHIỆM LÀM VIỆC</h3>
                <p>
                    <%- model.short_experience %>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-light-blue"><i class="fa fa-book margin-r-5"></i> CHI TIẾT</h3>
                
                <% model.work_experience.forEach(function(item) {
                    %>
                    <p>
                        <ul>
                            <li><b>Từ ngày</b> <%= moment(item.from_date).format('DD/MM/YYYY') %> <b>đến ngày</b> <%= item.to_date?moment(item.to_date).format('DD/MM/YYYY'):'now' %></li>
                            <li><b>Công ty:</b> <%= item.company %></li>
                            <li><b>Vị trí:</b> <%= item.position_level %></li>
                            <li><b>Công việc chính:</b>
                                <p>
                                    <%- item.main_duties %>
                                </p>
                            </li>
                        </ul>
                    </p>

                <%
                }) %>

                

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-light-blue"><i class="fa fa-info-circle margin-r-5"></i> THÔNG TIN KHÁC</h3>
                <p>
                    <%- model.additional %>
                </p>
            </div>
        </div>
        
       
       

      </section>
     