<!-- Main content -->
<section class="invoice">
       

        <div class="row">
            <div class="col-md-12 text-center">
                <h1>CURRICULUM VITAE</h1>
                <h4>Position applied: <%= position_applied %></h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3 class="text-light-blue"><i class="fa fa-user margin-r-5"></i> PERSONAL INFORMATION</h3>
                <ul>
                <li>Name: <%= model.name %></li>
                <li>Date of birth: <%= moment(model.dob).format('DD/MM/YYYY') %></li>
                <li>Gender: <%= model.gender?'Male':'Female' %></li>
                <li>Address: <%= model.short_address %></li>
                <li>Marital status: <%= model.marital=='S'?'Single':(model.marital=='M'?'Married':'Divorted') %></li>
                <li>Citizen of: <%= model.nationality %></li>
                <li>Current salary: <%= model.salary_current %> <%= model.current_currency %></li>
                <li>Expected salary: <%= model.salary_min %> - <%= model.salary_max %> <%= model.salary_currency %></li>
                <li>Notice time to start working: <%= moment(model.available_time).format('DD/MM/YYYY') %></li>
               
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-light-blue"><i class="fa fa-graduation-cap margin-r-5"></i> EDUCATION &amp; QUALIFICATIONS</h3>
                <p>
                    <%- model.short_education %>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-light-blue"><i class="fa fa-suitcase margin-r-5"></i> SUMARY OF WORKING EXPERIENCES</h3>
                <p>
                    <%- model.short_experience %>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-light-blue"><i class="fa fa-book margin-r-5"></i> DETAILS WORKING EXPERIENCES</h3>
                
                <% model.work_experience.forEach(function(item) {
                    %>
                    <p>
                        <ul>
                            <li><b>From</b> <%= moment(item.from_date).format('DD/MM/YYYY') %> <b>to</b> <%= item.to_date?moment(item.to_date).format('DD/MM/YYYY'):'now' %></li>
                            <li><b>Business type:</b> <%= item.company %></li>
                            <li><b>Position:</b> <%= item.position_level %></li>
                            <li><b>Main duties:</b>
                                <p>
                                    <%- item.main_duties %>
                                </p>
                            </li>
                        </ul>
                    </p>

                <%
                }) %>

                

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-light-blue"><i class="fa fa-info-circle margin-r-5"></i> ADDITIONAL INFORMATION</h3>
                <p>
                    <%- model.additional %>
                </p>
            </div>
        </div>
        
       
       

      </section>
     