<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>H-TalentSearch | <%= title %></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <% include ../partials/header_css %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
 <% include ../partials/header %>
  <!-- Left side column. contains the logo and sidebar -->
  <% include ../partials/sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
          HTS template review
          <small><i class="fa fa-arrow-circle-left"></i>
            <a href="/candidates/resume/<%= model._id%>">Back to info</a></small>
            <button class="btn bg-blue pull-right" id="tmplPrint" onclick="window.print()">
              <i class="fa fa-print"></i>
              Print
          </button>

          <button class="btn bg-purple pull-right" style="margin-right: 2px;" id="tmplCopy">
            <i class="fa fa-print"></i>
            Copy
        </button>
            
      </h1>
     
     
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |s
        -------------------------->
        
        <% if (language_cv === 'English') { %>
          <% include tmpl_hts_content %>
        <% } else { %>
          <% include tmpl_hts_content_vi %>
        <% } %>
          

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <% include ../partials/footer %>

  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<% include ../partials/footer_js %>
<!-- Select2 -->
<script src="/admin248/bower_components/select2/dist/js/select2.full.min.js"></script>
<!-- bootstrap datepicker -->
<script src="/admin248/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- AdminLTE App -->
<script src="/admin248/dist/js/adminlte.min.js"></script>


<script>
    $(function () {
      
      $('#mnu_candidate').addClass('active');
      $('#mnu_candidate_content').css('display', 'block');

    //   $('#tmplPrint').on('click', function() {
    //       window.print();
    //   });

      $('#tmplCopy').on('click', function() {
          var $temp = $("<input>");
          $("body").append($temp);
          $temp.val($('.invoice').html()).select();
          document.execCommand("copy");
          $temp.remove();
          /* Alert the copied text */
          alert("Copied the text: " + $('.invoice').html());
      });
      
    })

    function openPrintDialogue(){
        $('<iframe>', {
            name: 'myiframe',
            class: 'printFrame'
        })
        .appendTo('body')
        .contents().find('body')
        .append($('.invoice').html());

        window.frames['myiframe'].focus();
        window.frames['myiframe'].print();

        setTimeout(() => { $(".printFrame").remove(); }, 1000);
    }
  </script>

</body>
</html>