<div class="row">
    <div class="col-xs-12">

            <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Created</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% permissions.forEach(item => { %>
                        <tr>
                            <td><%= item.permission_name %></td>
                            <td><%= item.createdAt.toISOString() %></td>
                            
                        </tr>
                    <% }) %>
                    </tbody>
                    
                    </table>


    </div>
</div>