<div class="row">
        <div class="col-xs-12">
            <% include ../partials/alert_info %>
    
            <div class="box">
                    <!-- <div class="box-header">
                        <h3 class="box-title">Data Table With Full Features</h3>
                    </div> -->
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="listdata" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Functions</th>
                            <th>Create</th>
                            <th>Read</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% data.permissions_acl.forEach(item => { 
                            var content = item.split(':');
                            var pcreate = content[1].substring(0,1)==='1';
                            var pread = content[1].substring(1,2)==='1';
                            var pupdate = content[1].substring(2,3)==='1';
                            var pdelete = content[1].substring(3,4)==='1';
                            %>
                            <tr>
                                <td><%= content[0] %>
                                </td>
                                <td> <input name="<%= content[0] %>:create" type="checkbox" <%= pcreate?'checked':'' %>/></td>
                                <td> <input name="<%= content[0] %>:read" type="checkbox" <%= pread?'checked':'' %>/></td>
                                <td> <input name="<%= content[0] %>:update" type="checkbox" <%= pupdate?'checked':'' %>/></td>
                                <td> <input name="<%= content[0] %>:delete" type="checkbox" <%= pdelete?'checked':'' %>/></td>
                                
                            </tr>
                        <% }) %>
                        </tbody>
                        
                        </table>
                        <input type="hidden" name="permissions_acl" value="<%= data.permissions_acl %>"/>
                    </div>
                    <!-- /.box-body -->
            </div>
            <!-- /.box -->
    
    
        </div>
    </div>