<div class="row">
    <div class="col-xs-12">

            <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Permissions</th>
                        <th>Actions</th>

                    </tr>
                    </thead>
                    <tbody>
                    <% roles.forEach(item => { %>
                        <tr>
                            <td><%= item.role_name %></td>
                            <td><%= item.permissions_acl %></td>
                            <td>
                            <div style="display:inline-block">
                                <a href="/permissions/edit_roles/<%= item._id %>" class="btn btn-sm btn-primary">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>
                        </td>
                        </tr>
                    <% }) %>
                    </tbody>
                    
                    </table>


    </div>
</div>